h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#descricao {
    font-family: monospace, sans-serif;
}
body {
    background-color: #ffe8d6;
}
.cidade {
    color: blueviolet;
    font-style: oblique;
}
.qa{
    font-size: 15px;
}
.eq{
    font-size: 10px;
}
.gp{
    font-size: 30px;
}
.m{
    font-size: 20px;
}
.pda{
    font-size: 12px;
}